public/models/*.zip filter=lfs diff=lfs merge=lfs -text
public/models/realistic_city.glb filter=lfs diff=lfs merge=lfs -text
public/models/*.exr filter=lfs diff=lfs merge=lfs -text
public/textures/**/*.exr filter=lfs diff=lfs merge=lfs -text
public/textures/expo/**/*.png filter=lfs diff=lfs merge=lfs -text
